In [1]:
from math import cos, pi

def h(x):
    return cos(x)

def biseccion(f, intervalo, n):
    """
    PROPÓSITO: calcula el término *n* de la sucesión de                          bisección aplicada a *f* en *intervalo* y los extremos del mismo.
    PRECONDICIONES: f debe tener una única raíz en *intervalo*, ser continua     y f(a)f(b)< 0.
    PARÁMETROS:
        - f. función. La función involucrada.
        - intervalo. Lista =  [a, b].
        - n. Entero positivo. El índice del término de la                sucesión de bisección.
    """
    a, b = intervalo
    # inicializamos sucesión y contador
    xn =  a + (b-a)/2
    k =  1
    while k < n:
        if f(a)*f(xn)<0:
            b = xn
        else:
            a = xn
        # actualizamos sucesión y contador
        xn =  a + (b-a)/2
        k =  k + 1
    return a, b, xn

biseccion(h, [0, 2], 5)

(1.5, 1.625, 1.5625)

In [2]:
import numpy as np
import pandas as pd

pd.set_option("display.precision", 12)

def df_biseccion(f, intervalo, cantidad_iteraciones):
    # guardamos en resultados una lista con las llamadas a biseccion. Cada elemento de la lista es una 3-upla (a, b, xn)
    resultados = [biseccion(f, intervalo, n) for n in range(1, cantidad_iteraciones)]

    # Armamos los arrays de forma natural
    sucesion_a = np.array([resultado[0] for resultado in resultados])
    sucesion_b = np.array([resultado[1] for resultado in resultados])
    sucesion = np.array([resultado[2] for resultado in resultados])

    # zipeamos las columnas para pasarlas a pandas

    return pd.DataFrame(zip(sucesion_a, sucesion_b, sucesion), columns=["a", "b", "xn"])

test = df_biseccion(h, [0, 2], 10)

test

           a         b          xn
0  0.0000000  2.000000  1.00000000
1  1.0000000  2.000000  1.50000000
2  1.5000000  2.000000  1.75000000
3  1.5000000  1.750000  1.62500000
4  1.5000000  1.625000  1.56250000
5  1.5625000  1.625000  1.59375000
6  1.5625000  1.593750  1.57812500
7  1.5625000  1.578125  1.57031250
8  1.5703125  1.578125  1.57421875

In [3]:
def df_biseccion_coseno(intervalo, raiz_conocida, cantidad_iteraciones):
    """
    PROPÓSITO: confecciona un df de la sucesión de bisección aplicada a la función coseno en *intervalo* con la raíz conocida *raiz* en el mismo como única raíz hasta la cantidad de iteraciones *cantidad_iteraciones*.
    PRECONDICIONES: intervalo debe contener una única raíz conocida del coseno
    PARÁMETROS:
        - intervalo. Lista =  [a, b].
        - raiz_conocida. Única raíz del coseno en el intervalo.
        - cantidad_iteraciones. Entero positivo. El número de iteraciones de la sucesión de bisección.
    """
    # guardamos en resultados una lista con las llamadas a biseccion. Cada elemento de la lista es una 3-upla (a, b, xn)
    resultados = [biseccion(cos, intervalo, n) for n in range(1, cantidad_iteraciones)]

    # Armamos los arrays de forma natural
    sucesion_a = np.array([resultado[0] for resultado in resultados])
    sucesion_b = np.array([resultado[1] for resultado in resultados])
    sucesion = np.array([resultado[2] for resultado in resultados])
    raiz_conocida_array = np.array([raiz_conocida] * len(sucesion_a))
    # zipeamos las columnas para pasarlas a pandas

    return pd.DataFrame(zip(sucesion_a, sucesion_b, sucesion, raiz_conocida_array), columns=["a", "b", "xn", "alpha"])

df_biseccion_coseno([0, 2], pi/2, 10)

           a         b          xn           alpha
0  0.0000000  2.000000  1.00000000  1.570796326795
1  1.0000000  2.000000  1.50000000  1.570796326795
2  1.5000000  2.000000  1.75000000  1.570796326795
3  1.5000000  1.750000  1.62500000  1.570796326795
4  1.5000000  1.625000  1.56250000  1.570796326795
5  1.5625000  1.625000  1.59375000  1.570796326795
6  1.5625000  1.593750  1.57812500  1.570796326795
7  1.5625000  1.578125  1.57031250  1.570796326795
8  1.5703125  1.578125  1.57421875  1.570796326795

In [4]:
array1= np.array([1, 2, 3])
array2 = np.array([4, 5, 6])

In [5]:
def df_biseccion_coseno_velocidades(intervalo, raiz_conocida, cantidad_iteraciones):
    """
    PROPÓSITO: confecciona un df de la sucesión de bisección aplicada a la función coseno en *intervalo* con la raíz conocida *raiz* en el mismo como única raíz hasta la cantidad de iteraciones *cantidad_iteraciones*.
    PRECONDICIONES: intervalo debe contener una única raíz conocida del coseno
    PARÁMETROS:
        - intervalo. Lista =  [a, b].
        - raiz_conocida. Única raíz del coseno en el intervalo.
        - cantidad_iteraciones. Entero positivo. El número de iteraciones de la sucesión de bisección.
    """
    # guardamos en resultados una lista con las llamadas a biseccion. Cada elemento de la lista es una 3-upla (a, b, xn)
    resultados = [biseccion(cos, intervalo, n) for n in range(1, cantidad_iteraciones)]

    # Armamos los arrays de forma natural
    sucesion_a = np.array([resultado[0] for resultado in resultados])
    sucesion_b = np.array([resultado[1] for resultado in resultados])
    sucesion = np.array([resultado[2] for resultado in resultados])
    raiz_conocida_array = np.array([raiz_conocida] * len(sucesion_a))

    en = abs(sucesion-raiz_conocida_array)
    en1 = abs(np.concatenate((sucesion[1:], [np.nan]))- raiz_conocida_array)
    orden = en1/en
    # zipeamos las columnas para pasarlas a pandas

    return pd.DataFrame(zip(sucesion_a, sucesion_b, sucesion, raiz_conocida_array, en1, en, orden), columns=["a", "b", "xn", "alpha", "|xn1 - alpha|", "|xn - alpha|", "en1/en"])

df_biseccion_coseno_velocidades([0, 2], pi/2, 10)

,a,b,xn,alpha,|xn1 - alpha|,|xn - alpha|,en1/en
0,0.0000000,2.000000,1.00000000,1.570796326795,0.070796326795,0.570796326795,0.124030803058
1,1.0000000,2.000000,1.50000000,1.570796326795,0.179203673205,0.070796326795,2.531256652966
2,1.5000000,2.000000,1.75000000,1.570796326795,0.054203673205,0.179203673205,0.302469654978
3,1.5000000,1.750000,1.62500000,1.570796326795,0.008296326795,0.054203673205,0.153058387086
4,1.5000000,1.625000,1.56250000,1.570796326795,0.022953673205,0.008296326795,2.766727224297
5,1.5625000,1.625000,1.59375000,1.570796326795,0.007328673205,0.022953673205,0.319281064064
6,1.5625000,1.593750,1.57812500,1.570796326795,0.000483826795,0.007328673205,0.066018333927
7,1.5625000,1.578125,1.57031250,1.570796326795,0.003422423205,0.000483826795,7.073653714932
8,1.5703125,1.578125,1.57421875,1.570796326795,NaN,0.003422423205,NaN